body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    text-align: center;
}

header img {
    width: 300px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
    border-radius: 50%; /* Make the image circular */
    border: 10px solid #fff; /* White border to create 3D effect */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add shadow for 3D effect */
}

section {
    padding: 2rem;
}

.html {
    background-color: #9b8ad8; /* Orange */
    width: 70%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}
.css {
    background-color: #FF5722; /* Orange */
    width: 70%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}
.java {
    background-color: #f5bedc; /* Orange */
    width: 70%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}

.python {
    background-color: #2196F3; /* Blue */
    width: 65%;
    margin:1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}

.csharp {
    background-color: #4CAF50; /* Green */
    width: 65%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}
.jscript {
    background-color: #b5eeb7; /* Green */
    width: 60%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}
.c {
    background-color: #ebe18b; /* Yellow */
    width: 50%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}

.cpp {
    background-color: #9C27B0; /* Purple */
    width: 50%;
    margin: 1%;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}

.tool img {
    width: 100px;
    margin-right: 10px;
    border-start-end-radius: 50px;
    border-end-start-radius: 50px;
}

footer {
    text-align: center;
}

footer img {
    width: 400px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

/* Additional styles for the left column */
#left-column {
    position: fixed;
    top: 0;
    left: 0;
    width: 130px;
    height: 100%;
    background-color: lightgreen;
    padding: 20px;
    color: black; /* Change text color for better visibility */
}

#left-column h2 {
    color: black; /* Change heading color for better visibility */
}

#left-column ul {
    list-style-type: none;
    padding: 0;
}

#left-column ul li {
    margin-bottom: 10px;
}

#left-column ul li a {
    color: black; /* Change link color for better visibility */
    text-decoration: none;
}

#left-column ul li a:hover {
    text-decoration: underline;
}
#right-column{    
    padding-left: 150px; /* Adjust based on the width of the left column */    
    background-color: rgb(14, 15, 14);   
    color: white; /* Change text color for better visibility */
    
}
table {
    border: 2px solid white; /* Set the border of the table to be white */
}

table th,
table td {
    border: 1px solid white; /* Set the border of table cells (header cells and data cells) to be white */
}