body {
    background-color: black;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: white;
}

header {
    text-align: center;
}

header img {
    width: 300px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}

section {
    padding: 2rem;
}

.skill {
    margin-bottom: 1rem;
}

.skill p {
    margin: 0;
}

.bar {
    width: 100%;
    border-radius: 10px;
}

.java {
    background-color: #FF5722; /* Orange */
    height: 70%;
}

.python {
    background-color: #2196F3; /* Blue */
    height: 65%;
}

.csharp {
    background-color: #4CAF50; /* Green */
    height: 65%;
}

.c {
    background-color: #FFEB3B; /* Yellow */
    height: 50%;
}

.cpp {
    background-color: #9C27B0; /* Purple */
    height: 50%;
}

.tool img {
    width: 100px;
    margin-right: 10px;
}

footer {
    text-align: center;
}

footer img {
    width: 400px; /* Adjust as needed */
    display: block;
    margin: 0 auto;
}
